
@page "/mihistoria"
@attribute [StreamRendering]

<link rel="stylesheet" href="css/MiHistoria.css" />

<h3>Mi Historia</h3>
<p>Esto es un poco sobre mí...</p>
<div id="container"class="row row-cols-1 row-cols-md-3 g-4">
<div class="card" style="width: 18rem;">
    <img src="images/telema.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Mi formación</h5>
        <p class="card-text">Conoce acerca de mi formación académica, mis proyectos y las aspiraciones que encuentro en mi carrera.</p>
            <a href="#" class="btn btn-primary">Conocer más..</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="images/naturaleza.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Mis hobbies</h5>
        <p class="card-text">Explora las actividades que reaizo en mis tiempos libres.</p>
            <a href="#" class="btn btn-primary">Conocer más..</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="images/descarga.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Mi comida favorita</h5>
        <p class="card-text">Te muestro dónde comprar la mejor barbacoa del estado de Jalisco, muy cerca de ColimaYork.</p>
        <a href="#" class="btn btn-primary">Conocer más...</a>
    </div>
</div>
</div>

@code {

}
